{% extends "bootstrap/base.html" %}
{% block content %}
    <a href="{{ url_for('retro', label='dryer') }}" class="btn btn-primary btn-lg">{{ url_for('retro', label='dryer') }}</a>
    <a href="{{ url_for('write_file', label='dryer') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='dryer') }}</a>
    <a href="{{ url_for('retro', label='microwave') }}" class="btn btn-primary btn-lg ">{{ url_for('retro', label='microwave') }}</a>
    <a href="{{ url_for('write_file', label='microwave') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='microwave') }}</a>
    <a href="{{ url_for('retro', label='toaster') }}" class="btn btn-primary btn-lg">{{ url_for('retro', label='toaster') }}</a>
    <a href="{{ url_for('write_file', label='toaster') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='toaster') }}</a>
    <a href="{{ url_for('retro', label='washer') }}" class="btn btn-primary btn-lg">{{ url_for('retro', label='washer') }}</a>
    <a href="{{ url_for('write_file', label='washer') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='washer') }}</a>
    <a href="{{ url_for('retro', label='dishwasher') }}" class="btn btn-primary btn-lg">{{ url_for('retro', label='dishwasher') }}</a>
    <a href="{{ url_for('write_file', label='dishwasher') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='dishwasher') }}</a>
    <a href="{{ url_for('retro', label='hairdryer') }}" class="btn btn-primary btn-lg">{{ url_for('retro', label='hairdryer') }}</a>
    <a href="{{ url_for('write_file', label='hairdryer') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='hairdryer') }}</a>
    <a href="{{ url_for('retro', label='electricblanket') }}" class="btn btn-primary btn-lg">{{ url_for('retro', label='electricblanket') }}</a>
    <a href="{{ url_for('write_file', label='electricblanket') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='electricblanket') }}</a>
    <a href="{{ url_for('retro', label='null') }}" class="btn btn-primary btn-lg">{{ url_for('retro', label='null') }}</a>
    <a href="{{ url_for('write_file', label='null') }}" class="btn btn-primary btn-lg">{{ url_for('write_file', label='null') }}</a>
{% endblock %}

