<!doctype html>
<html>
  <body>
    <p><a href="{{ url_for('retro', label='dryer') }}">{{ url_for('retro', label='dryer') }}</a></p>
    <p><a href="{{ url_for('write_file', label='dryer') }}">{{ url_for('write_file', label='dryer') }}</a></p>
    <p><a href="{{ url_for('retro', label='microwave') }}">{{ url_for('retro', label='microwave') }}</a></p>
    <p><a href="{{ url_for('write_file', label='microwave') }}">{{ url_for('write_file', label='microwave') }}</a></p>
    <p><a href="{{ url_for('retro', label='toaster') }}">{{ url_for('retro', label='toaster') }}</a></p>
    <p><a href="{{ url_for('write_file', label='toaster') }}">{{ url_for('write_file', label='toaster') }}</a></p>
    <p><a href="{{ url_for('retro', label='washer') }}">{{ url_for('retro', label='washer') }}</a></p>
    <p><a href="{{ url_for('write_file', label='washer') }}">{{ url_for('write_file', label='washer') }}</a></p>
    <p><a href="{{ url_for('retro', label='dishwasher') }}">{{ url_for('retro', label='dishwasher') }}</a></p>
    <p><a href="{{ url_for('write_file', label='dishwasher') }}">{{ url_for('write_file', label='dishwasher') }}</a></p>
    <p><a href="{{ url_for('retro', label='hairdryer') }}">{{ url_for('retro', label='hairdryer') }}</a></p>
    <p><a href="{{ url_for('write_file', label='hairdryer') }}">{{ url_for('write_file', label='hairdryer') }}</a></p>
    <p><a href="{{ url_for('retro', label='electricblanket') }}">{{ url_for('retro', label='electricblanket') }}</a></p>
    <p><a href="{{ url_for('write_file', label='electricblanket') }}">{{ url_for('write_file', label='electricblanket') }}</a></p>
    <p><a href="{{ url_for('retro', label='null') }}">{{ url_for('retro', label='null') }}</a></p>
    <p><a href="{{ url_for('write_file', label='null') }}">{{ url_for('write_file', label='null') }}</a></p>
  </body>
</html>
